* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: nunito, sans-serif;
}

.center {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.none {
    display: none;
}

.w--1200 {
    max-width: 1200px;
}

.primary--bg {
    background-color: chocolate;
}

.white--text {
    color: white;
}

.display--flex {
    display: flex;
}

.justify--between {
    justify-content: space-between;
}

.list-item {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-family: nunito, sans-serif;
    font-weight: 700;
}

.header-content {
    height: 80px;
    font-size: 1.6rem;
    font-weight: 700;
    align-items: center;
    padding: 0 40px;
}

.header-content .logo {
    font-size: 3rem;
}

.user-info {
    margin-left: auto;
    margin-right: 20px;
}
.w--10 {
    width: 10%;
}

.w--20 {
    width: 20%;
}

.w--50 {
    width: 50%;
}

.w--30 {
    width: 30%;
}

.w--full {
    width: 100%;
}

.logout-btn {
    border: none;
    background-color: cornflowerblue;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.table-container {
    padding: 40px 0;
}

.table-container table {
    border: none;
}

.table-container table tr:nth-child(even) {
    background-color: lightgray;
}

.table-container table th {
    padding: 16px 0;
    background-color: cornflowerblue;
    color: white;
}
.table-container table td {
    padding: 16px 0;
}

.edit-btn {
    border: none;
    background-color: rgb(76, 205, 50);
    font-size: 1.6rem;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: white;
}

.delete-btn {
    border: none;
    background-color: rgb(240, 49, 49);
    font-size: 1.6rem;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: white;
}

.create-post-btn,
.create-post-page-btn {
    border: none;
    background-color: #2aae47;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 5px;
    color: white;
    float: right;
}

.create-post-page-btn {
    margin-bottom: 20px;
}

/*///////////////////////////////////////////////*/

.auth-container,
.create-post-container {
    margin: 100px auto;
}

.auth-container form h1,
.create-post-container form h1 {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.auth-container form,
.create-post-container form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.auth-container form input,
.create-post-container form input,
.create-post-container form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.auth-container form button,
.create-post-container form button {
    border: none;
    background-color: rgb(7, 138, 245);
    color: white;
    font-size: 1.6rem;
    padding: 8px 0;
    width: 40%;
    border-radius: 5px;
}

.auth-container form button:nth-of-type(2),
.create-post-container form button:nth-of-type(2) {
    background-color: rgb(240, 49, 49);
}

.auth-container .form-action,
.create-post-container .form-action {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.msg {
    background-color: rgba(255, 0, 0, 0.3);
    color: #333;
    border: 1px solid red;
    border-radius: 5px;
    padding: 8px;
}

.msg-email,
.msg-password,
.msg-username {
    display: none;
    color: red;
}

.msg-success {
    position: fixed;
    top: -100px;
    left: 50%;
    translate: -50% 0;
    transition: top 1s ease;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.7);
    color: #fff;
    border: 1px solid green;
    user-select: none;
}
